<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C20F579A18817D5400EDBFB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2623179191D741700D23900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2A3F2CC17F4827800AC1C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2DD4DA1191FFDE100AF6F85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
