<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.android.libraries.example"
          android:versionCode="1"
          android:versionName="1.0">

    <!-- =============================================================== -->
    <!-- The OpenYouTubeActivity requires these permissions              -->
    <!-- =============================================================== -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <uses-sdk android:minSdkVersion="3"/>


    <application android:label="youtube-player-example">
        <activity android:name=".YoutubeActivity_">

        </activity>


        <activity android:name=".MediaPlayerActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>


</manifest>